.infoContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    text-wrap: nowrap;
    z-index: 5;
    background-color: white;
}
.infoElement, .cityElement {
    width: 100%;
    height: 90px;
    color: black;
    padding: 0px 0px 10px 15px;
    border-top: 1px solid lightgray;
    position: relative;
}

.titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.cityElement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70px;
}

.save {
    height: 30px;
    width: 110px;
    background-color: blue;
    color: white;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.exit {
    cursor: pointer;
}
.infoButtons {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
    border-top: 1px solid lightgray;
}
.infoText {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.cityTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-wrap: balance;
}
.infoTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.docIcon {
    position: absolute;
    right: 45px;
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.opened {
    width: min(50%, 400px);
}
.noneOpacity {
    opacity: 0;
}

@media (max-width: 700px) {
    .infoContainer {
        bottom: 0;
        top: unset;
        left: 5%;
        width: 90%;
        max-height: 0;
    }

    .opened {
        max-height: 90%;
    }

    .infoText {
        font-size: 35px;
    }
    .cityTitle {
        font-size: 12px;
    }
    .infoTitle {
        font-size: 12px;
    }
}